*{
    margin: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

header {
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: rgb(42, 73, 165);
    color: white;

    padding: 30px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 60px;
}

nav {
    font-size: 1rem;
}

nav ul li {
    list-style: none;
    margin-bottom: 10px;
}

#projectList {
    margin-top: 20px;
    margin-bottom: 10px;
}

#content {
    grid-column: 2/3;

    background-color: aliceblue;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    /*changer pour mettre au centre*/
  }

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
  
.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .btn:hover {
    opacity: 1;
}

.task-style {
    /* grid a ajouter at some point */

    border: 1px solid black;
    max-width: 250px;
}